.containerPresidents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 3 columnas iguales */
    gap: 10px;
    /* Espacio entre los elementos */
    padding: 10px;

}

.grid-item {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}

/* Este ítem ocupará la primera columna */
.item1 {
    grid-column: 1;
}

/* Este ítem ocupará la segunda columna */
.item2 {
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
}

/* Este ítem ocupará la tercera columna */
.item3 {
    grid-column: 2;
    grid-row: span 3;
}
/* Este ítem ocupará la tercera columna */
.item4 {
    grid-column: 1;
    grid-row: 3;
}

.contentTable {
    border: solid 5px purple;
    border-radius: 10px;
}

th,
td {
    border: solid 2px purple;
}